<h1 class="list-item"> Your order
</h1>
<table>
<thead> <tr>
     <th>Name</th>
     <th>Category</th>
     <th>Price</th>
   </tr>
 </thead>
<tbody> <tr>
<td><%= @item.name %></td>
<td><%= @item.category %></td>
<td><%= number_to_currency @item.price %></td>
   </tr>
 </tbody>
</table>


<button id="pay-now">Checkout now</button>

<script src="https://js.stripe.com/v3/"></script>
<script>
 document
   .querySelector("[id='pay-now']")
   .addEventListener("click", () => {
     const stripe = Stripe(
       "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
     );

     stripe.redirectToCheckout({
       sessionId: "<%= @session.id %>"
     });
   });
</script>